:root {
  --onyx: #393e41ff;
  --timberwolf: #d3d0cbff;
  --timberwolf-2: #cdd6d0ff;
  --platinum: #e7e5dfff;
  --keppel: #44bba4ff;
  --saffron: #e7bb41ff;
  --coral-pink: #e08d79ff;
  --red-pantone: #e63946ff;

  --celadon: #a1cca5ff;
  --cambridge-blue: #8fb996ff;
  --cambridge-blue-2: #709775ff;
  --hunter-green: #415d43ff;
  --eerie-black: #111d13ff;
  --rose-quartz: #9c92a3ff;
  --black-olive: #394032ff;

  --islamic-green: #008f11ff;
}

